<div class="fleet-ship-container" ng-repeat="ship in fleet track by $index">

	<div class="fleet-ship-top">
		<div class="fleet-ship-top-left" ng-class="{'fleet-ship-top-left-first':$first}"></div>
		<div class="fleet-ship-title font-staw" ng-class="{'fleet-ship-title-long': ship.name.length > 20}">{{ ship.name }}</div>
		<div class="fleet-ship-top-spacer"></div>
		<div class="fleet-ship-title fleet-ship-cost font-staw">{{ getTotalCost(ship,fleet) }} SP</div>
		<div class="fleet-ship-top-spacer"></div>
		<div class="fleet-ship-top-spacer"></div>
		<div class="toggle-button-value pull-left" ng-class="{'toggle-button-value-active': ship.hideEmptySlots}"></div>
		<div class="fleet-ship-title fleet-ship-cost font-staw">
			<button class="title-button" ng-click="ship.hideEmptySlots = !ship.hideEmptySlots">Show Empty Slots</button>
		</div>
		<div class="fleet-ship-top-right"></div>
		
	</div>

	<div class="fleet-ship-middle">
		<div class="fleet-ship-left"></div>
		
		<div class="fleet-ship-inner">

			<div class="card-container">
				<card-ship ship="ship" drag-store="dragStore"></card-ship>
			</div><!--
			Stupid whitespace breaks card alignment
		 --><div class="card-container" ng-hide="ship.squadron" droppable can-drop="$item.type == 'captain'" drop="setShipCaptain(fleet,ship,$item)" drag-store="dragStore">
				<div class="card-outer card-drop-target font-staw" ng-click="setSearchTypes(['captain'])">
					<div class="card-drop-target-inner">
						<div class="card-drop-target-type">
							<i class="fs fs-captain"></i><br/>Captain
						</div>
					</div>
				</div>
				<card-upgrade ng-if="ship.captain" upgrade="ship.captain" ship="ship" fleet="fleet" drag-store="dragStore"></card-upgrade>
			</div><!--
			
		 --><div class="card-container" ng-hide="!ship.admiral && ( ship.squadron || ship.hideEmptySlots || fleetHasAdmiral(fleet) )"
				droppable can-drop="$item.type == 'admiral'" drop="setShipAdmiral(fleet,ship,$item)" drag-store="dragStore">
				<div class="card-outer card-drop-target font-staw" ng-click="setSearchTypes(['admiral'])">
					<div class="card-drop-target-inner">
						<div class="card-drop-target-type">
							<i class="fs fs-admiral"></i><br/>Admiral
						</div>
					</div>
				</div>
				<card-upgrade ng-if="ship.admiral" upgrade="ship.admiral" ship="ship" fleet="fleet" drag-store="dragStore"></card-upgrade>
			</div><!--
			
		 --><div class="card-container" 
				ng-repeat="upgradeSlot in ship|upgradeSlots" ng-hide="ship.hideEmptySlots && !upgradeSlot.occupant" 
				droppable can-drop="isUpgradeCompatible($item, upgradeSlot)" drop="setShipUpgrade(fleet,ship,upgradeSlot,$item)" drag-store="dragStore">
				<div class="card-outer card-drop-target font-staw" ng-click="setSearchTypes(upgradeSlot.type)">
					<div class="card-drop-target-inner">
						<div class="card-drop-target-type" ng-repeat="type in upgradeSlot.type">
							<i class="fs fs-{{type}}"></i><br/>{{type}}
						</div>
					</div>
					<div ng-show="upgradeSlot.source && upgradeSlot.source != 'ship'" class="card-drop-target-subtitle">Source: {{upgradeSlot.source}}</div>
				</div>
				<card-upgrade ng-if="upgradeSlot.occupant" upgrade="upgradeSlot.occupant" ship="ship" fleet="fleet" drag-store="dragStore"></card-upgrade>
			</div>
			
		</div>

	</div>
		
</div>

<div class="fleet-ship-container">

	<div class="fleet-ship-top">
		<div class="fleet-ship-top-left" ng-class="{'fleet-ship-top-left-first': fleet.length == 0}"></div>
		<div class="fleet-ship-title font-staw">Fleet Total</div>
		<div class="fleet-ship-top-spacer"></div>
		<div class="fleet-ship-title fleet-ship-cost font-staw">{{ getFleetCost(fleet) }} SP</div>
		<div class="fleet-ship-top-right"></div>
	</div>
	
	<div class="fleet-ship-middle">
		<div class="fleet-ship-left"></div>
		
		<div class="fleet-ship-inner">

			<div class="card-container">
				<div class="card-outer card-drop-target font-staw" ng-click="setSearchTypes(['ship'])"
					droppable can-drop="$item.type == 'ship'" drop="addFleetShip(fleet,$item)" drag-store="dragStore">
					<div class="card-drop-target-title" ng-if="!isMobile">Click to search this card type</div>
					<div class="card-drop-target-title" ng-if="isMobile">Tap to search this card type</div>
					<div class="card-drop-target-inner">
						<div class="card-drop-target-type">
							<i class="fs fs-evade"></i><br/>Ship
						</div>
					</div>
					<div ng-show="!isMobile" class="card-drop-target-subtitle">Drag here to add to fleet</div>
					<div ng-show="isMobile && (!dragStore.item || dragStore.item.type != 'ship')" class="card-drop-target-subtitle">Tap a ship card to select it</div>
					<div ng-show="isMobile && dragStore.item && dragStore.item.type == 'ship'" class="card-drop-target-subtitle">Tap here to add selected ship to fleet</div>
				</div>
			</div>
			
		</div>

	</div>
	
	<div class="fleet-ship-bottom">
		<div class="fleet-ship-bottom-left"></div>
	</div>

</div>
