<!DOCTYPE html>
<html ng-app="utopia" ng-controller="UtopiaCtrl">
    <head>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="css/font-staw.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/utopia.css">
        <link rel="stylesheet" type="text/css" href="css/utopia-card.css">
		<link rel="stylesheet" type="text/css" href="css/utopia-fleet-builder.css">
		
        <title>Utopia: A Fleet Builder for Star Trek Attack Wing</title>

		<script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/angular-sanitize.js"></script>
        <script type="text/javascript" src="js/utopia.js"></script>
        <script type="text/javascript" src="js/utopia-card-ship.js"></script>
        <script type="text/javascript" src="js/utopia-card-upgrade.js"></script>
		<script type="text/javascript" src="js/utopia-dragdrop.js"></script>
		<script type="text/javascript" src="js/utopia-fleet-builder.js"></script>
		<script type="text/javascript" src="js/utopia-card-loader.js"></script>
		<script type="text/javascript" src="js/utopia-card-rules.js"></script>

    </head>
    <body>

		<div class="u-container" ng-click="drag.item = false; drag.source = false;">

			<div class="u-search-results text-center">
			
				<div class="u-title"><i class="fs fs-unique"></i>Utopia</div>
			
				<div class="u-search">

					<label><input class="u-search-query" ng-model="search.query" placeholder="Search"></label>
					
					<button ng-click="resetSearch()">Reset</button>
					<button ng-click="showAdvanced = !showAdvanced">Advanced</button>

					<div ng-show="showAdvanced && (!drag.item || drag.source == 'search')">
					
						<div>
							<div class="u-search-header"><span>Faction</span></div>
							<span ng-repeat="(faction,data) in search.factions">
								<label class="u-label"><input type="checkbox" ng-model="data.search" > <div class="u-faction card-faction-{{faction}}"></div> {{faction}}</label>
							</span>
						</div>

						<div>
							<div class="u-search-header"><span>Type</span></div>
							<span class="u-search-type" ng-repeat="(type,data) in search.types">
								<label class="u-label"><input type="checkbox" ng-model="data.search" > <i class="fs fs-{{type}}"></i> {{type}}</label>
							</span>
						</div>

						<div>
							<div class="u-search-header"><span>Uniqueness</span></div>
							<span>
								<label class="u-label"><input type="checkbox" ng-model="search.unique"> <i class="fs fs-unique"></i> Unique</label>
							</span>
							<span>
								<label class="u-label"><input type="checkbox" ng-model="search.generic"> <i class="fs"></i> Generic</label>
							</span>
						</div>
						
					</div>

				</div>
			
				<div ng-init="resultLimit = 10">
				
					<div class="u-loading" ng-show="loading">Loading cards...</div>
				
					<div class="card-container" ng-show="drag.item && drag.source != 'search'" droppable can-drop="true" drop="$broadcast('removeFromFleet',$item)" drag-store="drag">
						<div class="card-outer card-drop-target font-staw">
							<div class="card-drop-target-inner">
								<div class="card-drop-target-type">
									<i class="fs fs-captain"></i><br/>Remove From Fleet
								</div>
							</div>
						</div>
					</div>
					
					<div ng-hide="drag.item && drag.source != 'search'">
						
						<div class="card-container" ng-repeat="card in cards | cardFilter:search | limitTo:resultLimit">
							<card-ship ng-show="card.type == 'ship'" ship="card" drag-store="drag" drag-source="search"></card-ship>
							<card-upgrade ng-show="card.type != 'ship'" upgrade="card" drag-store="drag" drag-source="search"></card-upgrade>
						</div>
						
						<div>
							<button class="u-show-more" ng-hide="loading" ng-click="resultLimit = resultLimit + 10">Show More</button>
						</div>
						
					</div>
					
				</div>

			</div>

			<div class="u-fleet">
				<fleet-builder fleet="activeFleet" cards="cards" drag-store="drag"></fleet-builder>
			</div>

		</div>

    </body>
</html>
