@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xrkowx');
  src:  url('fonts/icomoon.eot?xrkowx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xrkowx') format('truetype'),
    url('fonts/icomoon.woff?xrkowx') format('woff'),
    url('fonts/icomoon.svg?xrkowx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ArcB:before {
  content: "\e900";
}
.icon-ArcBE:before {
  content: "\e901";
}
.icon-ArcF:before {
  content: "\e902";
}
.icon-ArcFB:before {
  content: "\e903";
}
.icon-ArcFF:before {
  content: "\e904";
}
.icon-ArcL:before {
  content: "\e905";
}
.icon-ArcR:before {
  content: "\e906";
}
.icon-boost:before {
  content: "\e907";
}
.icon-b-rolll:before {
  content: "\e908";
}
.icon-crit:before {
  content: "\e909";
}
.icon-focus:before {
  content: "\e90a";
}
.icon-hit:before {
  content: "\e90b";
}
.icon-lock:before {
  content: "\e90c";
}
