/* Add a black background color to the top navigation */
.topnav {
    background-color: #4d4d4d;
	border: 1px solid #999999;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	border-right: 1px solid #bbb;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #1a1a1a;
    color: white;
}

.mainpage {
	background-color: #f2f2f2;
}

/* Left Columb that contains a higharcical list of nagagation content, table of contnet if you will */
.column.left {
	float: left;
    width: 33.33%;
	height: 100%;
}

.column.main {
	width: 60%;
}