<div class="fleet-close-export" ng-show="searchOptions.showExport">
	<button class="fleet-search-bigger" ng-click="searchOptions.showExport = false"><i class="fa fa-chevron-right"></i> Export</button>
</div>

<div class="export-container">
	<div class="u-search-header"><div class="u-search-header-text">Copy Text Listing</div></div>
	<label class="export-option"><input type="checkbox" ng-model="showSetNames">Include Expansion Names</label>
	<!-- New checkbox here for the table-top simulator option. -->
	<label class="export-option"><input type="checkbox" ng-model="ttsExportStyle">Table-Top Sim Export</label>
	<textarea class="export-text" ng-model="fleetText"></textarea>
</div>
