@font-face {
  font-family: 'STAWSwiss';
  src: url('../fonts/Swiss1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'STAWAlternate';
  src: url('../fonts/Alternate1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-staw {
	font-family: STAWSwiss;
}

.font-staw-alt {
	font-family: STAWAlternate;
}

@font-face {
  font-family: 'FontSTAWIcons';
  src: url('../fonts/AttackWingSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fs {
  display: inline-block;
  font-family: FontSTAWIcons !important;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  text-transform: none;
}

.fs:before {
 content: "?";
}

.fs-empty:before {
  content: "";
}

.fs-unique:before {
  content: "A";
}

.fs-OnePerShip:before {
  content: "4";
}

.fs-battlestations:before {
  content: "B";
}

.fs-cloak:before {
  content: "C";
}

.fs-sensor-echo:before {
  content: "D";
}

.fs-evade:before {
  content: "E";
  margin-right: -0.1em;
}

.fs-hangar:before {
  content: "F";
}

.fs-fortress:before {
  content: "G";
}

.fs-hit:before {
  content: "H";
}

.fs-crit:before {
  content: "I";
}

.fs-bank-left:before {
  content: "J";
}

.fs-bank-right:before {
  content: "K";
}

.fs-turn-left:before {
  content: "L";
}

.fs-turn-right:before {
  content: "M";
}

.fs-forward:before {
  content: "N";
}

.fs-straight:before {
  content: "N";
}

.fs-reverse:before {
  content: "O";
}

.fs-come-about:before {
  content: "P";
}

.fs-full-about:before {
  content: "Q";
}

.fs-left-flank:before {
  content: "N";
}

.fs-left-flank {
	transform: rotate(-135deg);
}

.fs-right-flank:before {
  content: "N";
}

.fs-right-flank {
	transform: rotate(135deg);
}

.fs-45-rotate-left:before {
	content: "P";
}

.fs-45-rotate-left {
	transform: rotate(135deg);
}

.fs-45-rotate-right:before {
	content: "P";
}

.fs-45-rotate-right {
	transform: rotate(-135deg);
}

.fs-90-rotate-left:before {
	content: "P";
}

.fs-90-rotate-left {
	transform: rotate(90deg);
}

.fs-90-rotate-right:before {
	content: "P";
}

.fs-90-rotate-right {
	transform: rotate(-90deg);
}

.fs-stop:before {
	content: "B";
}

.fs-regenerate:before {
  content: "R";
}

.fs-scan:before {
  content: "S";
}

.fs-target-lock:before {
  content: "T";
  position: relative;
  left: -0.25em;
  font-size: 0.8em;
  top: -0.1em;
  margin-left: 0.25em;
}

.fs-spin-left:before {
  content: "U";
}

.fs-spin-right:before {
  content: "V";
}

.fs-tech:before {
  content: "W";
}

.fs-weapon:before {
  content: "X";
}

.fs-crew:before {
  content: "Y";
}
.fs-talent:before {
  content: "Z";
}
.fs-refit:before {
  content: "a";
}


.fs-captainFederation:before {
  content: ".";
}
.fs-captainKlingon:before {
  content: ".";
}
.fs-captainRomulan:before {
  content: ".";
}
.fs-captainDominion:before {
  content: ".";
}
.fs-captainIndependent:before {
  content: ".";
}
.fs-captainBorg:before {
  content: ".";
}
.fs-captain8472:before {
  content: ".";
}
.fs-captainMirror:before {
  content: ".";
}
.fs-captainFerengi:before {
  content: ".";
}

.fs-shipFederation:before {
  content: ".";
}
.fs-shipKlingon:before {
  content: ".";
}
.fs-shipRomulan:before {
  content: ".";
}
.fs-shipDominion:before {
  content: ".";
}
.fs-shipIndependent:before {
  content: ".";
}
.fs-shipBorg:before {
  content: ".";
}
.fs-ship8472:before {
  content: ".";
}
.fs-shipMirror:before {
  content: ".";
}
.fs-shipFerengi:before {
  content: ".";
}

.fs-blank:before {
  content: "0";
}
.fs-borg:before {
  content: "1";
}
.fs-aux:before {
  content: "2";
}
.fs-time:before {
  content: "3";
}

.fs-FrontArc:before {
  content: ".";
}
.fs-RearArc:before {
  content: ".";
}
.fs-360Arc:before {
  content: ".";
}

.fs-attackConstraint:before {
  content: ".";
}
.fs-hullConstraint:before {
  content: ".";
}

.fs-shipLimit:before {
  content: ".";
}

.fs-faq:before {
  content: ".";
}

.fs-alliance:before {
  content: ".";
}

.fs-specialization:before {
	content: ".";
}
.fs-ship:before {
  content: "E";
  margin-right: -0.1em;
}

.fs-squadron:before {
  content: "F";
}

.fs-captain:before {
  content: "A";
}

.fs-admiral:before {
  content: "A";
}

.fs-ambassador:before {
  content: "A";
}

.fs-resource:before {
  content: "A";
}

.fs-fleet-captain:before {
  content: "A";
}

.fs-faction:before {
  content: "A";
}

.fs-officer:before {
  content: "A";
}

.fs-flagship:before {
  content: "A";
}

.fs-ship-resource:before {
  content: "A";
}
