<div class="card-outer card-ship card-shipclass font-staw">

	<div class="card-shipclass-arcs arc-faction-{{ship.factions[0]}}">
		<div class="arc arc-fill arc-fore-90" ng-show="shipClass.frontArc == 90"></div>
		<div class="arc arc-fill arc-fore-180" ng-show="shipClass.frontArc == 180"></div>
		<div class="arc arc-rear-90" ng-show="shipClass.rearArc == 90"></div>
		<div class="arc-hole"></div>
		<div class="arc-name">{{getBaseTileName(ship)}}</div>
		<div class="arc-stats">
			<div class="arc-stat card-ship-stat-attack text-center">{{ship|valueOf:'attack':ship:fleet}}</div>
			<div class="arc-stat card-ship-stat-agility text-center">{{ship|valueOf:'agility':ship:fleet}}</div>
			<div class="arc-stat card-ship-stat-hull text-center">{{ship|valueOf:'hull':ship:fleet}}</div>
			<div class="arc-stat card-ship-stat-shields text-center">{{ship|valueOf:'shields':ship:fleet}}</div>
		</div>
		<div class="arc-actions"><i ng-repeat="action in ship.actions" class="fs fs-{{action}}"></i></div>
	</div>

	<!-- <div class="card-image" ng-class="{'card-image-large': Object.keys(shipClass.maneuvers).length > 9}"></div> -->
	<div ng-class="(shipClass.id == 'borg_cube' || shipClass.id == 'kelvin_constitution_class') ? 'card-image-large' : 'card-image'"></div>

	<div class="card-corner-top-left pull-left">
		<div class="card-corner-inner pull-right"></div>
	</div>
	<div class="card-corner-top-right pull-right">
		<div class="card-corner-inner card-corner-inner-faction"></div>
	</div>
	<div class="card-title-container text-center">
		<span class="card-shipclass-title" ng-class="{'card-title-long': shipClass.name.length >= 20 }">{{shipClass.name | uppercase}}</span>
	</div>

	<div ng-class="(shipClass.id == 'borg_cube' || shipClass.id == 'kelvin_constitution_class') ? 'card-border-left-tall pull-left' : 'card-border-left pull-left'"></div>

	<div ng-class="(shipClass.id == 'borg_cube' || shipClass.id == 'kelvin_constitution_class') ? 'card-border-right-tall pull-right' : 'card-border-right pull-right'"></div>

	<div ng-class="(shipClass.id == 'borg_cube' || shipClass.id == 'kelvin_constitution_class') ? 'card-class-maneuvers-tall' : 'card-class-maneuvers'">
		<div class="card-maneuver-row" ng-repeat="speed in speeds track by $index">
			<div class="card-maneuver-box" ng-class="{'speed-reverse': speed < 0}"><span ng-show="speed != 9">{{abs(speed)}}</span></div>
			<div class="card-maneuver-box" ng-class="{'card-maneuver-box-highlight': shipClass.maneuvers[speed].turn || shipClass.maneuvers[speed]['90-degree-rotate']}">
				<i class="fs fs-turn-left speed-{{shipClass.maneuvers[speed].turn}}" ng-show="shipClass.maneuvers[speed].turn"></i>
				<i class="fs fs-90-rotate-left speed-{{shipClass.maneuvers[speed]['90-degree-rotate']}}" ng-show="shipClass.maneuvers[speed]['90-degree-rotate']"></i>
			</div>
			<div class="card-maneuver-box" ng-class="{'card-maneuver-box-highlight': shipClass.maneuvers[speed].bank || shipClass.maneuvers[speed].spin || shipClass.maneuvers[speed].flank || shipClass.maneuvers[speed]['45-degree-rotate']}">
				<i class="fs fs-bank-left speed-{{shipClass.maneuvers[speed].bank}}" ng-show="shipClass.maneuvers[speed].bank"></i>
				<i class="fs fs-spin-left speed-{{shipClass.maneuvers[speed].spin}}" ng-show="shipClass.maneuvers[speed].spin"></i>
				<i class="fs fs-left-flank speed-{{shipClass.maneuvers[speed].flank}}" ng-show="shipClass.maneuvers[speed].flank"></i>
				<i class="fs fs-45-rotate-left speed-{{shipClass.maneuvers[speed]['45-degree-rotate']}}" ng-show="shipClass.maneuvers[speed]['45-degree-rotate']"></i>
			</div>
			<div class="card-maneuver-box" ng-class="{'card-maneuver-box-highlight': shipClass.maneuvers[speed].straight || shipClass.maneuvers[speed].stop}">
				<i class="fs speed-{{shipClass.maneuvers[speed].straight}}" ng-class="{'fs-forward': speed > 0, 'fs-reverse': speed < 0}" ng-show="shipClass.maneuvers[speed].straight"></i>
				<i class="fs fs-stop speed-{{shipClass.maneuvers[speed].stop}}" ng-show="shipClass.maneuvers[speed].stop"></i>
			</div>
			<div class="card-maneuver-box" ng-class="{'card-maneuver-box-highlight': shipClass.maneuvers[speed].bank || shipClass.maneuvers[speed].spin || shipClass.maneuvers[speed].flank || shipClass.maneuvers[speed]['45-degree-rotate']}">
				<i class="fs fs-bank-right speed-{{shipClass.maneuvers[speed].bank}}" ng-show="shipClass.maneuvers[speed].bank"></i>
				<i class="fs fs-spin-right speed-{{shipClass.maneuvers[speed].spin}}" ng-show="shipClass.maneuvers[speed].spin"></i>
				<i class="fs fs-right-flank speed-{{shipClass.maneuvers[speed].flank}}" ng-show="shipClass.maneuvers[speed].flank"></i>
				<i class="fs fs-45-rotate-right speed-{{shipClass.maneuvers[speed]['45-degree-rotate']}}" ng-show="shipClass.maneuvers[speed]['45-degree-rotate']"></i>
			</div>
			<div class="card-maneuver-box" ng-class="{'card-maneuver-box-highlight': shipClass.maneuvers[speed].turn || shipClass.maneuvers[speed]['90-degree-rotate']}">
				<i class="fs fs-turn-right speed-{{shipClass.maneuvers[speed].turn}}" ng-show="shipClass.maneuvers[speed].turn"></i>
				<i class="fs fs-90-rotate-right speed-{{shipClass.maneuvers[speed]['90-degree-rotate']}}" ng-show="shipClass.maneuvers[speed]['90-degree-rotate']"></i>
			</div>
			<div class="card-maneuver-box" ng-class="{'card-maneuver-box-highlight': shipClass.maneuvers[speed].about}">
				<i class="fs fs-come-about speed-{{shipClass.maneuvers[speed].about}}" ng-show="shipClass.maneuvers[speed].about"></i>
			</div>
		</div>
	</div>

	<div class="card-corner-bottom-left pull-left">
		<div class="card-corner-inner"></div>
	</div>

	<div class="card-corner-bottom-right pull-right">
		<div class="card-corner-inner"></div>
	</div>

	<div class="card-border-bottom"></div>

	<div style="clear: both"></div>

</div>
