/**
 * Style definitions of the ship tile and firing arcs.
 */

/**
 * Parent division style. A square that holds the other tile elements.
 */
.card-shipclass-arcs {
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	width: 4.5em;
	height: 5em;
	border: 1px solid #333;
	transform: rotate(-15deg);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	left: 6em;
	z-index: 100;
	overflow: hidden;
	background: #111;
	box-shadow: 0 0 0.4em #333;
}

/**
 * 90 deg forward firing arc. A filled in square that is rotated 45 degrees to
 * provide a triangle that is then clipped to within the parent box.
 */
.arc-fore-90 {
	position: absolute;
	top: -3.8em;
	left: -0.275em;
	width: 5em;
	height: 5em;
	border: 0.1em solid #aaa;
	background: #777;
	transform: rotate(45deg);
	clip: inherit;
}

/**
 * 90 deg rear firing arc. An empty square that has a dashed border and is
 * rotated 45 degrees to provide a triangle that is then clipped to within the
 * parent box.
 */
.arc-rear-90 {
	position: absolute;
	top: 3.7em;
	left: -0.275em;
	width: 5em;
	height: 5em;
	border: 0.1em dashed #aaa;
	transform: rotate(45deg);
}

/**
 * 180 deg forward firing arc. A filled square that is rotated 45 degrees to
 * provide a triangle that is then clipped to within the parent box.
 */
.arc-fore-180 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.5em;
	background: #777;
	border-bottom: 0.1em solid #aaa;
}

/**
 * Hole in the center of the tile.
 */
.arc-hole {
	position: absolute;
	left: 1.5em;
	top: 1.75em;
	width: 1.5em;
	height: 1.5em;
	background: black;
	border-radius: 1em;
	border: 1px solid #333;
}

/**
 * Style for the ship name on the arc tile.
 */
.arc-name {
	position: absolute;
	left: 0;
	top: 8.8em;
	font-size: 0.5em;
	width: 100%;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

/**
 * Style for group of the ship stats printed on the tile.
 */
.arc-stats {
	position: absolute;
	top: 0.25em;
	left: 0;
	height: 100%;
}

/**
 * Style for the individual stats within the arc-stats group.
 */
.arc-stat {
	border-width: .1em;
	border-style: solid;
	border-radius: .1em .6em .6em .1em;
	border-left: none;
	width: 1em;
	font-size: 0.7em;
	margin-top: 0.3em;
}

/**
 * Style for the actions group printed on the tile.
 */
.arc-actions {
	position: absolute;
	top: 0.25em;
	left: 3.75em;
	height: 100%;
	color: green;
}

/**
 * Style for the individaul actions in the actions group.
 */
.arc-actions .fs {
	font-size: 0.5em;
}

/**
 * Start of colors for the arcs for individual factions.
 */
.arc-faction-mirror-universe .arc {
	border-color: #bb963c;
}
.arc-faction-mirror-universe .arc-fill {
	background: #65410c;
}

.arc-faction-dominion .arc {
	border-color: #c777ff;
}
.arc-faction-dominion .arc-fill {
	background: #523571;
}

.arc-faction-federation .arc-fill {
	background: #353598;
}
.arc-faction-federation .arc {
	border-color: #7777ff;
}

.arc-faction-klingon .arc-fill {
	background: #651212;
}
.arc-faction-klingon .arc {
	border-color: #ed1b24;
}

.arc-faction-romulan .arc-fill {
	background: #1c4e1c;
}
.arc-faction-romulan .arc {
	border-color: #358e4f;
}

.arc-faction-ferengi .arc-fill {
	background: #7b8e46;
}
.arc-faction-ferengi .arc {
	border-color: #e2ea72;
}

.arc-faction-bajoran .arc-fill {
	background: #65410c;
}
.arc-faction-bajoran .arc {
	border-color: #bb963c;
}

.arc-faction-independent .arc-fill {
	background: #65410c;
}
.arc-faction-independent .arc {
	border-color: #bb963c;
}

.arc-faction-species-8472 .arc-fill {
	background: #65410c;
}
.arc-faction-species-8472 .arc {
	border-color: #bb963c;
}

.arc-faction-xindi .arc-fill {
	background: #651212;
}
.arc-faction-xindi .arc {
	border-color: #e25656;
}
