.fleet-close-export {
	font-size: 2em;
	position: relative;
	right: -0.2em;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
	float: right;
}

.fleet-close-export .fleet-search-bigger {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.export-container {
	clear: both;
	font-size: 1.5em;
	text-align: center;
}

.export-text {
	margin: 0.5em;
	font-size: 0.8em;
	width: 280px;
	height: 20em;
}

.export-option {
	font-weight: normal;
	margin-top: 5px;
}